<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h2> Chat Rooms </h2>
    </div>
    <%= render 'index' %>

    <% if can? :create, ChatRoom.new %>
      <%= link_to 'New Chat Room', new_chat_room_path, class: "btn btn-primary" %>
    <% end %>

  </div>
  <div class="col-md-4">
    
  </div>
</div>
