
<div class="col-md-8">
	<div class="page-header">
		<h2>Add Chat Room</h2>
	</div>
  <%= render 'form', chat_room: @chat_room %>
  <%= link_to 'Back', chat_rooms_path %>
</div>

<div class="col-md-8">
	
</div>
