<h2 class="page-heading">Listing various sources of questions</h2>

<ul class="special-list">
  <% @sources.each do |s| %>
    <li>
      <i class="fa fa-question-circle-o question-icon"></i>
        <%= s %>
      </li>
  <% end %>
</ul>
