<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<h2>Listing Notifications</h2>
		</div>

		<% @notifications.each_with_index do |notification,index| %>
		<div class="panel panel-default">
  		<div class="panel-body">
				<%= link_to notification.title, notification.url %> by <%= notification.user.try(:username) %> around <%= time_ago_in_words(notification.created_at)  %> ago 
			</div>
		</div>
		<% end %>
	
	</div>
</div>