<div class="col-md-6">
<% if @users.nil? %>
<span>No users yet</span>
<% else %>
<h2 class="page-heading">Listing Users</h2>
<ul class="special-list">
  <% @users.each do |u| %>
  <li><i class="fa fa-user user-icon" aria-hidden="true"></i>
  <li><%= link_to u.username , u%>
    <%= link_to 'destroy', user_path(u), method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
  <% end %>
</ul>
<% end %>
</div>

<button type="button" name="Invite" id="btn" class="btn btn-default">Invite New User</button>

<div class="col-md-6" id="form" hidden="true">
  <%= render 'users/form' %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    //$("#form").hide();
    $("#btn").click(function(){
      $("#form").show();
      $("#btn").hide();
    });

    $("#inviteForm").on('submit',function(){
      $("#form").hide();
      $("#btn").show();
    });

  });
</script>
