<div class="container">
  <p><strong>Username: </strong> <%= @user.username %></p>
  <p><strong>Email: </strong> <%= @user.email %></p>
  <p>
    <strong>Roles: </strong>
    <% @user.roles.each do |r| %>
      <li><%= r.name %></li>
    <% end %>
  </p>
</div>
