<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<h1>New Practice</h1>
		</div>
		<%= render 'form', practice: @practice %>
	</div>
</div>

<%= link_to 'Back', practices_path %>
