<ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="/batches/<%= params[:batch_id] %>"><%= @assignment_group.batch.title %></a></li>
	  <li><a href="/batches/<%= @assignment_group.batch_id %>/assignment_groups">Assignment Group</a></li>
	  <li class="active"><%= @assignment_group.title %></li>
	</ol>