<div class="col-md-12">
  <div class="row">
    <div class="search-components">
      <h1 class="page-heading">Search</h1>
      <input type="radio" name="type" value="any" id="any">Any
      <input type="radio" name="type" value="exact" id="exact">Exact
    </div>
  </div>

  <div class="row margin-bottom-15">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="control-label" for="assignment_group_title">Enter Input</label>
    </div>
    <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
      <%= select_tag "",options_from_collection_for_select(ActsAsTaggableOn::Tag.all,"name","name") ,{id: "search" ,class: "chosen-select",multiple: true } %>
    </div>
  </div>
</div>

<div id="table">
  <table id="example" class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>code</th>
        <th>body</th>
        <th>Action</th>
      </tr>
    </thead>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#table").hide();
    checked = "";
    $("#any").on('click',function(){
      checked = $("#any").val();
    });
    $("#exact").on('click',function(){
      checked = $("#exact").val();
    });
    $("#search").on('change',function(){
      if(checked != ""){
        if($("#search").val() != null){
        sentTag = $("#search").val().join(",");
      }
        $.ajax({
          url: "<%= assignments_tags_path %>",
          type: "get",
          data: {
            type: 'json',
            tag_name: sentTag,
            search_type: checked,
            bid: "<%= params[:batch_id] %>"
          },
          success: function(response){
            $('#example').DataTable({
              destroy: true,
              data: response,
              columns: [
                { 'data' : 'title' },
                { 'data' : 'code' },
                { 'data' : 'body' },
                { 'data' : 'url' },
              ]
            });
            $("#table").show();
          }
        });
      }else{
        alert("Please select search type");
      }
    });
  });
</script>
