<div class="row">
	<div class="col-md-6">
		<div class="page-header">
			<h1>New Assignment Group</h1>
		</div>
		<%= render 'form', assignment_group: @assignment_group %>
	</div>

	<div class="col-md-6">
		<%= render 'search' %>
	</div>
</div>

<%= link_to 'Back', assignment_groups_path %>


<script type="text/javascript">
$(document).ready(function(){
	$(document.body).on('click','.link',function(e){
		e.preventDefault();
		$.ajax({
				url: $(this).attr("value"),
				dataType: "json",
				type: "get",
				success: function(response){
					$(".modal-title").html("<p><b>" + response["title"] + "</b></p>");
					$(".modal-body").html(response["body"]);
				}
			});
		$("#myModal").modal('show');
	});
});
</script>
