<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
		<div class="row">
			<div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
				<h2 class="page-heading">New Assignment Group</h2>
				<%= render 'form', assignment_group: @assignment_group %>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
				<%= link_to 'Back', assignment_groups_path, class: "btn btn-primary" %>
			</div>
		</div>

	</div>

	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
		<%= render 'search' %>
	</div>
</div>



<script type="text/javascript">
$(document).ready(function(){
	$(document.body).on('click','.link',function(e){
		e.preventDefault();
		$.ajax({
				url: $(this).attr("value"),
				dataType: "json",
				type: "get",
				success: function(response){
					$(".modal-title").html("<p><b>" + response["title"] + "</b></p>");
					$(".modal-body").html(response["body"]);
				}
			});
		$("#myModal").modal('show');
	});
});
</script>
