<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="row margin-bottom-15">
					<div class="col-lg-8">
						<h2 class="page-heading">New Assignment Group</h2>
					</div>
					<div class="col-lg-4">
							<%= link_to 'Back', assignment_groups_path, class: "btn btn-primary btn-small pull-right" %>
					</div>
				</div>


					<%= render 'form', assignment_group: @assignment_group %>

			</div>

		</div>

	</div>

	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
		<%= render 'search' %>
	</div>
</div>



<script type="text/javascript">
$(document).ready(function(){
	$(document.body).on('click','.link',function(e){
		e.preventDefault();
		$.ajax({
				url: $(this).attr("value"),
				dataType: "json",
				type: "get",
				success: function(response){
					$(".modal-title").html("<p><b>" + response["title"] + "</b></p>");
					$(".modal-body").html(response["body"]);
				}
			});
		$("#myModal").modal('show');
	});
});
</script>
