<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<h1>Edit Course</h1>
		</div>
		<%= render 'form', course: @course %>
	</div>
</div>
<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
