<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<h1>Edit Batch</h1>
		</div>
		<%= render 'form', batch: @batch %>
	</div>
</div>

<%= link_to 'Show', @batch %> |
<%= link_to 'Back', batches_path %>
