<div class="row">
  <div class="col-md-9">
    <div class="page-header">
      <h2>List Batches</h2>
    </div>
    <div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#ongoing" aria-controls="home" role="tab" data-toggle="tab">Ongoing</a></li>
    <li role="presentation"><a href="#completed" aria-controls="profile" role="tab" data-toggle="tab">Completed</a></li>
    <% if current_user.role? "admin" %>
       <li role="presentation"><a href="#all" aria-controls="profile" role="tab" data-toggle="tab">All</a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ongoing">
      <% @batches = Batch.where('end_date < ? AND is_completed = ?', Date.today, false ) %>
      <%= render 'index' %> 
    </div>

    <div role="tabpanel" class="tab-pane" id="completed">
      <% @batches = Batch.where('is_completed = ?', true) %>
      <%= render 'index' %>
    </div>

    <% if current_user.role? "admin" %>
     <div role="tabpanel" class="tab-pane" id="all">
      <% @batches = Batch.order('start_date DESC') %>
      <%= render 'index' %>
    </div>
    <% end %>

  </div>
  
  </div>
  </div>

  <div class="col-md-3">

  </div>
</div>
<br>

<% if can? :create, Batch.new %>
  <%= link_to 'New Batch', new_batch_path, class: "btn btn-primary" %>
<% end %>