<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
		<div class="row main-headline">
			<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
					<h2>New Batch</h2>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
				<%= link_to 'Back', batches_path , class: "btn btn-primary pull-right"%>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
		<%= render 'form', batch: @batch %>
	</div>
</div>
