<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="/assignments">Assignments</a></li>
  <li><%= link_to @assignment.title, @assignment %></li>
  <li class="active">Solutions</li>
</ol>

<div class="col-md-8">
	<%= render 'index' %>
</div>

<div class="col-md-4">
	<div class="page-header">
		<h2>Stats</h2>
	</div>
	<ul class="list-group">
		<% @hash_solutions.each do |language, solutions| %>
			<li class="list-group-item">
				<%= language %> 
				<span class="badge"> 
					<%= solutions.length %>
				</span>
			</li>	
		<% end %>
		</ul>
</div>
